doctype html
html(lang='en')
  head
    script(src='./webui.js')
    title Hello, World!
  body
    h1 Hello, World!
    div.remark
      p Pug rocks!
      #x
      #res
    button(onclick='Gen_Keys()') Generate Keys

    input(type='text' name='q' autofocus)
    button(onclick='checkBalance()') CheckBln
    script(type='text/javascript').
      function Gen_Keys() {
        create_key().then((res) => {
          document.getElementById("x").innerHTML = res;
        });
      }

      function checkBalance() {
        const input = document.querySelector('input[name="q"]').value;
        checkBln(input).then((res) => {
          document.getElementById("res").innerHTML = res;
        });
      }